nav {
    font-family: "Century Gothic", sans-serif;
    font-size: 15px;
    color: gray;
}

.background {
    /* background-image: linear-gradient(bottom, rgb(182, 97, 238), rgb(153, 54, 153), rgb(110, 42, 110));
    background-repeat: no-repeat; */
    background-color: rgb(110, 42, 110);
}

body {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
  .bodytext {
      font-family: "Ink Free", "Bradley Hand ITC", sans-serif;
  }

blogtitle {
    font-family: "Forte", "Bauhaus 93", "Broadway", sans-serif;
}