{% extends 'base.html' %}
{% block content %}

<div>
    <h1>{{ write_title }}</h1>
</div>

<form method='POST'>
    <div>
        <input type='textarea' id='blog-title' name='blog_title' value='{{ blogtitle }}' placeholder='Title Your Blog' class='title' />
        <span class='error'>{{title_error}}</span>
    </div>

    <div>
        <input type='textarea' id='write-blog' name='write_blog' value='{{ writeblog }}' placeholder="Let's hear what you've got to say." class='body' />
        <span class='error'>{{blog_error}}</span>
    </div>

    <div>
        <input type='submit' value='Post Me' id='submitbutton' />
    </div>
</form>

{% endblock %}